<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 class="page-header">Posts</h1>
<ol class="post-list">

    <% results.forEach(function(post) {%>
        <li class="post">
            <img class="post-image" src="<%=post.imageUrl %>" alt="Post image" width="100" height="100" />
            <p class="post-message"><%= post.message %> </p>
            <p class="post-posted-by"> Posted by <%= post.postedBy.name %></p>
            <p>Likes <%= post.likedBy.length %></p>
            <p>Dislikes <%= post.dislikedBy.length %></p>
            <form action="/posts/<%=post.id %>" method="POST">
                <input type="hidden" name="like" value="LIKE">
                <input type="submit" value="LIKE">
            </form>
            <form action="/posts/<%=post.id %>" method="POST">
                <input type="hidden" name="dislike" value="true">
                <input type="submit" value="DISLIKE">
            </form>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>