<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>

    <% results.forEach(function(post) {%>
        <li>
            <img 
                src="<%=post.imageUrl %>"
                alt="Post image"
                width="100"
                height="100"
            />
            <p><%= post.message %> </p>
            <p><em> Posted by</em> <%= post.postedBy.name %></p>
            <p><em> Liked by</em> <%= post.likedBy.name %> <em> Disliked by</em> <%= post.dislikedBy.name %></p>
        </li>
    <% }); %>
</ol>
</body>
<%- include('_footer') -%>
</html>