<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 class="page-header">Posts</h1>
<ol class="post-list">

    <% results.forEach(function(post) {%>
        <li class="post">
            <img class="post-image" src="<%=post.imageUrl %>" alt="Post image" width="100" height="100" />
            <p class="post-message"><%= post.message %> </p>
            <p class="post-posted-by"> Posted by <%= post.postedBy.name %></p>
            <p>Likes <%= post.likedBy.length %></p>
            <p>Dislikes <%= post.dislikedBy.length %></p>
        </li>
    <% }); %>
</ol>
</body>
<%- include('_footer') -%>
</html>