<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
<h1 class="page-header">Users</h1>
<ol class="user-list">
    <% results.forEach(function(user) {%>
        <li class="user">
            <img class="user-image" src="<%= user.profileImageUrl %>" alt="<%= user.name %>" width="50" height="50" />
           <p class="user-user-name">User name: <%= user.name %></p>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>