<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div class="wrapper">
<img class="user-cover-image" src="<%= coverImageUrl %>" alt="<%= name %>"/>
<img class="user-image-detail" src="<%= profileImageUrl %>" alt="<%= name %>" />
<h1 class="user-name"> <%= name %></h1>
</div>
    <p><%= username %></p>
    <p><%= email %></p>
    <h2><%= name.split(" ")[0] %>'s Posts</h2>
    <ol class="post-list">
        <% posts.forEach(function(post) {%>
            <li class="post">
            <img class="post-image" src="<%= post.imageUrl %>" alt="Post image" width="100" height="100" />
            <p><%= post.message %></p>
            </li>
        <% }); %>
    </ol>
    <button>Load More</button>
    <h2>Posts <%= name.split(" ")[0] %> Liked</h2>
    <ol class="post-list">
        <% likes.forEach(function(post) {%>
            <li class="post">
            <img class="post-image" src="<%=post.imageUrl %>" alt="Post image" width="100" height="100" />
            <p><%= post.username %></p>
            <p><%= post.createdAt.slice(0, 10) %></p>
            <p><%= post.message %></p>
            </li>
        <% }); %>
    </ol>
    <button>Load More</button>
    <h2>Posts <%= name.split(" ")[0] %> Disliked</h2>
    <ol class="post-list">
        <% dislikes.forEach(function(post) {%>
            <li class="post">
            <img class="post-image" src="<%=post.imageUrl %>" alt="Post image" width="100" height="100" />
            <p><%= post.username %></p>
            <p><%= post.createdAt.slice(0, 10) %></p>
            <p><%= post.message %></p>
            </li>
        <% }); %>
    </ol>
    <button>Load More</button>
    
</body>
<%- include('_footer') -%>
</html>